#top-bar { background-color: #273F7F; color: #dddddd }
#sidebar { display: none; }
#ausgabe { display: none; }
#cont { display: none; }
#plus {  }
#closebtn { background-color: #5555a0;font-size:48px; }
#div1 { width: 100%;overflow:auto; }
#cont { width: 100%; }
#buch {float: left;display: none;border-collapse: collapse;border: 2px;border-color: #d3d3d3;color: #4f4a42;}

a.bar-item:hover{ background-color: #222272!important }
.button:disabled{cursor:not-allowed;opacity:0.3}
.button:hover{color:#000!important;background-color:#ccc!important}
.pf2:hover{color:#000!important;background-color:#cce!important;cursor:pointer;}
.arrow:hover{cursor:pointer;}
div.fixed {position: fixed;text-align: center;bottom: 0;left: 0;width: 20px;border: 1px solid #737373;}

.pf2 { display:inline-block; border:1px solid #4f4a42;border-collapse: collapse;}
.fixed { display: none;}
.btns { display: none;}
.exp {}
.sidebar { height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto }
.bar-block .bar-item{ width: 100%;display:block;padding:8px 16px;text-align: left;border:none;outline:none;white-space: normal;float: none;  }
.border-right { border-right:1px solid #ccc!important }
.button {border:none;outline:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.large { font-size:18px!important; }.xlarge { font-size:24px!important; }
.container { content:"";display:table;clear:both }
.small-ul { width:200px;list-style-type: none;text-align: center;padding:0px 0px;vertical-align:middle; border: 2px solid #4f4a42;border-collapse:collapse; background-color: #fdfdfd; height:171px;}
.arrow {opacity: 0.2; background-color: #f0efe5; }
.bottom-right { position: fixed; right: 50px; bottom: 75px; border-radius: 5px; display: none;}
.top-right   { position: fixed; right: 50px; top: 75px; display: none;}

body { background-color: #faf7f5; }
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
th, td {border: 1px solid black;min-width: 75px;min-height: 20px;} 
td {color: #000000;text-align: center; }
